{% extends 'layout-full-width.html.twig' %}

{% block title %}
	Fake-Paris | Accueil
{% endblock %}

{% block contentFullWidth %}

	<div>
		<p>Home Page -
		</p>
		<div {{ stimulus_controller('say-hello') }}>
			<input type="text" {{ stimulus_target('say-hello', 'name') }}>

			<button {{ stimulus_action('say-hello', 'greet') }}>
				Greet
			</button>

			<div {{ stimulus_target('say-hello', 'output') }}></div>
		</div>
	</div>

{% endblock %}
