{% extends 'layout-full-width.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block contentFullWidth %}

	<div>
		page Un email de confirmation voua a été envoyé...
	</div>

{% endblock %}
